.containerAll_TyM{
    width: 100%;
    height: auto;
}

.headerTyM{
    width: 50%;
    height: 300px;
    background-image: url("../img/bannerTyM.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25%;
}

.headerTyM h1{
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
    color: rgb(124, 124, 124);
}

.container_TyM{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.products_TyM{
    width: 100%;
    height: auto;
    padding-left: 7%;
}

@media(max-width:768px){
    .products_TyM {
        padding-left: 0%;
    }
}

@media(max-width:414px){
    .headerTyM h1 {
        font-size: 25px;
    }
    .headerTyM {
        width: 100%;
        height: 227px;
        background-size: contain;
        margin-left: 0%;
    }
}